<div class="suitcase">
    <div class="text-center">
      <h1 class="page-header text-center"><%= @suitcase.name.upcase %></h1>

      <% @items.each do |i| %>
        <% if i.female? %>
        <% @female_items.push(i) %>
        <% elsif i.required? %>
        <% @required_items.push(i) %>
        <% elsif i.days_specific? %>
        <% @days_specific_items.push(i) %>
        <% else %>
        <% @optional_items.push(i) %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group" data-toggle="buttons">
            <% if @suitcase.gender == 'Female' %>
              <% @female_items.each do |fi| %>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"><%= fi.name %>
              </label>
              <% end %>
            <% end %>
            <% @required_items.each do |ri| %>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"><%= ri.name %>
              </label>
            <% end %>
            <% @days_specific_items.each do |dsi| %>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"><%= @suitcase.days %>  <%= dsi.name %>s
              </label>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
        <h3 class="text-center">Optional Items:</h3>
          <div class="btn-group" data-toggle="buttons">
          <% @optional_items.each do |oi| %>
            <label class="btn btn-primary">
              <input type="checkbox" autocomplete="off"><%= oi.name %>
            </label>
          <% end %>
          </div>
        </div>
      </div>


      <%= link_to 'Edit', edit_suitcase_path(@suitcase) %> |
      <%= link_to 'Back', suitcases_path %>
    </div>
</div>
