<div class="col-xs-">
  <%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label(:name, 'Name', class: 'form-label') %><br>
      <%= f.text_field(:name, class: 'form-field input-lg') %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:female) %>Femine item?
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:required) %>Is it required for every trip?
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:days_specific) %>Is it required daily?
      </label>
    </div>
      <%= f.submit('Save', class: 'btn btn-info btn-md') %>
  <% end %>
</div>
